__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
data/
checkpoints/
*.zip
files/
*.pyc
.ipynb_checkpoints/
config/ckp/
config/config/
config/logs/
config/results/
#src/utils/eva_utils_acc.py
#utils/define.py
#data/pointcloud2image.py